body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.menu
{width: 70%;
font-size: 80px;text-align: center;
align:center}
box-sizing: border-box

.diseñomenu{
    padding: 20px;
    background-color: #F47920;
    text-align: center;
    
}
.subtitulo{text-align: left;font-size: 40px;
}

.tabla1
{font-size: 17px;
padding: 5em;
text-align: left;
background-color:  white;
}
.colorfondo{
    background-color: white;
}
.contenedor{
    width: 100%;
    max-width: 1000px;
}
.video{
    width: 80%;
    size: 50%;
}